<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<title>Eat Da Burger</title>
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<section>	
			<h1>Eat Da Burger!</h1>
			<div class="container">
				<div class="row">
					{{{ body }}}
				</div>
			</div>
		</section>
	</body>
</html>
